<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
  
  <main class="main-content">
  <div class="py-5">
   <div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Giới thiệu</li>
								</ul>
							</nav>
							<h4 class="title">Giới thiệu</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		
    <div class="container">
    <div class="row">
            <div class="row" style="background-color: aliceblue; margin: 30px; text-align: justify;">
                <div class="hi-wrapper">
                    <div class="col-sm-6 animate_animated animate_fadeInRight" >
                    <figure class="wp-block-image size-large"><img decoding="async" fetchpriority="high" width="400px" height="400px" src="images1/logo/phone2.jpg" alt="" style="margin-top: 20px;" class="wp-image-36" data-opt-lazy-loaded="false"></figure>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: 100px;">
                    <h2 class="has-neve-text-color-color has-text-color wp-block-heading text-center" >Điện thoại thông minh</h2>
                    <p class="has-neve-text-color-color has-text-color">"Sản phẩm " smartphone là khái niệm để chỉ các loại thiết bị di động kết hợp điện thoại di động các chức năng điện toán di động vào một thiết bị.</p>
                    <p class="has-neve-text-color-color has-text-color"> Chúng được phân biệt với điện thoại phổ thông bởi khả năng phần cứng mạnh hơn và hệ điều hành di động mở rộng, tạo điều kiện cho phần mềm rộng hơn, internet (bao gồm duyệt web qua băng thông rộng di động)
                    cùng với các chức năng chính của điện thoại như cuộc gọi thoại và nhắn tin văn bản.</p>
                    </div>
                    </div>
                   
        <div class="row" style="background-color: aliceblue; margin: 30px; text-align: justify;">
        <div class="col-sm-6" >
            <h2 class="has-neve-text-color-color has-text-color wp-block-heading text-center" >Về chúng tôi</h2>
            <p class="has-neve-text-color-color has-text-color">Phone Store là một trang web chuyên về điện thoại ,máy tính , bàn phím, tai nghe, các loại phụ kiện nhằm đáp ứng cho bạn những chất lượng và dịch vụ tốt nhất. </p>
            <p class="has-neve-text-color-color has-text-color">Trong cuộc sống hiện đại, nhu cầu về công nghệ da ngày càng cao.Chất lượng cuộc sống ngày càng tăng .</p></p>
                <p class="has-neve-text-color-color has-text-color">Chúng tôi là một cửa hàng trực tuyến phong cách và đa dạng, với sự lựa chọn đa dạng về sản phẩm từ nhiều thương hiệu. <br>
                    Bất kể bạn đang gặp vấn đề gì liên quan đến công nghệ ,Phone Store sẽ cung cấp cho bạn sản phẩm phù hợp để đáp ứng nhu cầu và cải thiện cuộc sống bạn  một cách hiệu quả.</p></p>
            </div>
            <div class="hi-wrapper">
                <div class="col-sm-6 animate_animated animate_fadeInRight" >
                <figure class="wp-block-image size-large"><img decoding="async" fetchpriority="high" width="460px" height="400px" src="images1/logo/phone3.jpg"  alt="" style="margin-top: 30px;"  class="wp-image-36" data-opt-lazy-loaded="false"></figure>
                </div>
            </div>
            </div>

         </div>   
      
    </div>    
        <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/ck.jpg" alt="" width="300px">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/e.jpg" alt="" width="300px">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/g9.jpg" alt="" width="300px">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/mari.jpg" alt="" width="300px">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/nive.jpg" alt="" width="300px">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/bun.jpg" alt="" width="300px">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="assets/images/logo/dior.jpg" alt="" width="300px">
                    </div>
                </div>
             </div>
          </div>
      </div>
   </div>
</main>

</body>
</html>

